.form-container {
  padding-top: 5%;
  border: 1px solid #999;
  border-radius: 3px;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 350px;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  height: 50px;
  width: 50%;
  padding: 5px;
  /* margin-bottom: 10px; */
}
p {
  width: 50%;
}
/* 
button {
  border: 1px solid black;
} */

.btn-login {
  /* border: 1px solid #999; */
  background:  #999;
  width: 50%;
  border-radius: 3px;
  height: 50px;
  margin-top: 5%;
}